.version.location /* version checker */
{
	color: #000003;
	background-color: #F9F78B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u1756
{
	z-index: 2;
	height: 857px;
	background-color: #0071BC;
	position: fixed;
	top: 0px;
}

#u1756-bw
{
	z-index: 2;
}

#pu1759
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 62px;
	margin-left: -7px;
}

#u1759
{
	z-index: 57;
	width: 261px;
	height: 73px;
	margin-left: 356px;
	position: relative;
	background: transparent url("../images/location%20but-vibrance%201.png") no-repeat left top;
	background-size: contain;
}

#u1759.MuseLinkActive
{
	width: 261px;
	height: 73px;
	min-height: 0px;
	margin: 0px 0px 0px 356px;
	background: transparent url("../images/location%20but-vibrance%201%20copy.png") no-repeat left top;
	background-size: contain;
}

#accordionu602
{
	z-index: 3;
	width: 965px;
	border-width: 7px;
	border-style: solid;
	border-color: #FFFF00;
	background-color: transparent;
	margin-top: 64px;
	position: relative;
}

#u607
{
	z-index: 4;
	width: 965px;
	background-color: transparent;
	position: relative;
}

#u610
{
	z-index: 6;
	height: 68px;
	width: 965px;
	vertical-align: top;
	position: relative;
	background: url("../images/u610.png") no-repeat 0px 0px;
}

#u610.AccordionPanelTabOpen
{
	background: url("../images/u610-a.png") no-repeat 0px 0px;
}

#u608
{
	z-index: 8;
	width: 965px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
}

#u609-4
{
	z-index: 9;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 49px;
}

#u611
{
	z-index: 13;
	width: 965px;
	background-color: transparent;
	position: relative;
}

#u614
{
	z-index: 15;
	height: 68px;
	width: 965px;
	vertical-align: top;
	position: relative;
	background: url("../images/u614.png") no-repeat 0px 0px;
}

#u614.AccordionPanelTabOpen
{
	background: url("../images/u614-a.png") no-repeat 0px 0px;
}

#u612
{
	z-index: 17;
	width: 965px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
}

#u634-4
{
	z-index: 18;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 49px;
}

#u603
{
	z-index: 22;
	width: 965px;
	background-color: transparent;
	position: relative;
}

#u606
{
	z-index: 24;
	height: 68px;
	width: 965px;
	vertical-align: top;
	position: relative;
	background: url("../images/u606.png") no-repeat 0px 0px;
}

#u606.AccordionPanelTabOpen
{
	background: url("../images/u606-a.png") no-repeat 0px 0px;
}

#u604
{
	z-index: 26;
	width: 965px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 22px;
	position: relative;
}

#pamphletu1105
{
	z-index: 27;
	width: 0.01px;
	height: 577px;
	position: relative;
	margin-right: -10000px;
	left: 119px;
}

#u1128
{
	z-index: 28;
	width: 391px;
	position: relative;
	margin-right: -10000px;
	margin-top: 529px;
	left: 3px;
}

#u1132
{
	position: absolute;
	width: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
}

#u1132:hover
{
	border-color: #999999;
	width: 68px;
	min-height: 0px;
	margin: 0px;
}

#u1132.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 68px;
	min-height: 0px;
	margin: 0px;
}

#u1222
{
	z-index: 30;
	width: 69px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u1132:hover #u1222
{
	width: 69px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u1132.PamphletThumbSelected #u1222
{
	width: 69px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u1135
{
	position: absolute;
	width: 70px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #C4C4C4;
	top: 1px;
	left: 96px;
}

#u1135:hover
{
	border-color: #999999;
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u1135.PamphletThumbSelected
{
	border-color: #999999;
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u1234
{
	z-index: 33;
	width: 71px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u1135:hover #u1234
{
	width: 71px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u1135.PamphletThumbSelected #u1234
{
	width: 71px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u1141
{
	position: absolute;
	width: 95px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #999999;
	left: 194px;
}

#u1141:hover
{
	border-color: #6B6B6B;
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u1141.PamphletThumbSelected
{
	border-color: #6B6B6B;
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u1246
{
	z-index: 36;
	width: 96px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u1141:hover #u1246
{
	width: 96px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u1141.PamphletThumbSelected #u1246
{
	width: 96px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u1129
{
	position: absolute;
	width: 71px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #999999;
	left: 318px;
}

#u1129:hover
{
	border-color: #6B6B6B;
	width: 71px;
	min-height: 0px;
	margin: 0px;
}

#u1129.PamphletThumbSelected
{
	border-color: #6B6B6B;
	width: 71px;
	min-height: 0px;
	margin: 0px;
}

#u1130
{
	z-index: 39;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u1129:hover #u1130
{
	width: 64px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u1129.PamphletThumbSelected #u1130
{
	width: 64px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u1264
{
	z-index: 41;
	width: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u1129:hover #u1264
{
	width: 72px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u1129.PamphletThumbSelected #u1264
{
	width: 72px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u1108
{
	position: absolute;
	width: 727px;
	background-color: transparent;
}

#u1108popup
{
	z-index: 43;
}

#u1115
{
	z-index: 44;
	width: 727px;
	height: 511px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1213
{
	z-index: 45;
	width: 726px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#u1121
{
	z-index: 47;
	width: 727px;
	height: 511px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1231
{
	z-index: 48;
	width: 726px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#u1112
{
	z-index: 50;
	width: 727px;
	height: 511px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1243
{
	z-index: 51;
	width: 726px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
}

#u1118
{
	z-index: 53;
	width: 727px;
	height: 511px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1261
{
	z-index: 54;
	width: 726px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.AccordionPanelTab /* pamphlet2 */
{
	cursor: pointer;
}

#u1760
{
	z-index: 58;
	width: 135px;
	height: 49px;
	margin-left: 419px;
	margin-top: 112px;
	position: relative;
	background: transparent url("../images/home%20but-normal.png") no-repeat left top;
	background-size: contain;
}

#u1760:hover
{
	width: 135px;
	height: 49px;
	min-height: 0px;
	margin: 112px 0px 0px 419px;
	background: transparent url("../images/home%20but-over.png") no-repeat left top;
	background-size: contain;
}

#u1760:active
{
	width: 135px;
	height: 49px;
	min-height: 0px;
	margin: 112px 0px 0px 419px;
	background: transparent url("../images/home%20but-down.png") no-repeat left top;
	background-size: contain;
}

#u1267
{
	z-index: 56;
	width: 27px;
	height: 562px;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 1018px;
}

.ie #u1267
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

