.version.tickets /* version checker */
{
	color: #000019;
	background-color: #E93C3A;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.5495000000001px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 72px;
	padding-bottom: 62px;
	width: 0.01px;
}

#u438
{
	z-index: 2;
	height: 1387px;
	background-color: #0071BC;
	position: fixed;
	top: 0px;
}

#u438-bw
{
	z-index: 2;
}

#u439
{
	z-index: 3;
	margin-left: 360px;
	position: relative;
}

#ppu448-48
{
	width: 0.01px;
	margin-top: 138px;
}

#pu448-48
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 500px;
}

#u448-48
{
	z-index: 47;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u450
{
	z-index: 96;
	width: 191px;
	height: 70px;
	border-width: 7px;
	border-style: solid;
	border-color: #FCEE21;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 668px;
	left: 128px;
}

#u452
{
	z-index: 98;
	width: 191px;
	height: 70px;
	border-width: 7px;
	border-style: solid;
	border-color: #FCEE21;
	background-color: transparent;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 789px;
	left: 128px;
}

#u452:hover
{
	border-color: #FFFFFF;
	width: 191px;
	height: 70px;
	min-height: 0px;
	margin: 789px -10000px -4px 0px;
}

#u447-43
{
	z-index: 4;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u449
{
	z-index: 95;
	width: 191px;
	height: 70px;
	border-width: 7px;
	border-style: solid;
	border-color: #FCEE21;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 668px;
	left: 128px;
}

#u450:hover,#u449:hover
{
	border-color: #FFFFFF;
	width: 191px;
	height: 70px;
	min-height: 0px;
	margin: 668px -10000px 0px 0px;
}

#u451
{
	z-index: 97;
	width: 191px;
	height: 70px;
	border-width: 7px;
	border-style: solid;
	border-color: #FCEE21;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 789px;
	left: 128px;
}

#u451:hover
{
	border-color: #FFFFFF;
	width: 191px;
	height: 70px;
	min-height: 0px;
	margin: 789px -10000px 0px 0px;
}

#u454
{
	z-index: 99;
	width: 135px;
	height: 49px;
	position: fixed;
	bottom: 62px;
	left: 50%;
	margin-left: -57px;
	background: transparent url("../images/home%20but-normal.png") no-repeat left top;
	background-size: contain;
}

#u454:hover
{
	width: 135px;
	height: 49px;
	min-height: 0px;
	margin: 0px 0px 0px -57px;
	background: transparent url("../images/home%20but-over.png") no-repeat left top;
	background-size: contain;
}

#u454:active
{
	width: 135px;
	height: 49px;
	min-height: 0px;
	margin: 0px 0px 0px -57px;
	background: transparent url("../images/home%20but-down.png") no-repeat left top;
	background-size: contain;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

